# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/

# Django media & static
media/
staticfiles/

# IDEs & editors
.vscode/
.idea/
.vs/

# Windows junk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Mac junk
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Coverage / test artifacts
.coverage
htmlcov/

